@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg,#FFCB5C, #FFE2A4) ;
}
/*--------------------
  Navbar Area Style 
---------------------- */
header{
    max-height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
}
.container{
    width: 1360px;
}
section{
    margin-bottom: 200px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
.logo img{
    width: 100%;
}
.nav a{
    text-decoration: none;
    margin-right: 25px;
    font-size: 20px;
    color: #4F3018;
    font-weight: 500;
}
.nav a:hover{
    border-bottom: 3px solid #4F3018;
}
.banner{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 10px;
}
.text-area{
    margin-top: -80px;
}
.text-area h1{
    font-size: 20vh;
    color: #4F3018; 
    letter-spacing: 1.5px;
}
.text-area h2{
    margin-top: -107px;
    font-size: 90px;
    color:#4F3018;
    padding-left: 20px;
    letter-spacing: 1.5px;
}
.button{
    font-size: 23px;
    text-decoration: none;
    background-color: #4F3018;
    color: #FFE2A4;
    padding: 10px 40px;
    font-weight: 400;
    margin-left: 25px;
    border-radius: 30px;
}
.button:hover{
    background: none;
    border: 3px solid #4F3018;
    color: #4F3018;
    font-weight: 500;
}
.banner-image img{
    width: 110%;
}
/*------------------- 
    Menu Area Style  
---------------------*/
.menu-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-items img{
    margin-left: 10%;
}
.menu-1 img{
    width: 100%;
}
.extra-1 img{
    width: 80%;
    padding-bottom: 15px;
}
.menu-2 img{
    width: 100%;
    margin-left: -1%;
}


/*---------------------
     Offer Area Style  
-----------------------*/

.offer-head{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-left: 100px; */
}
.offers{
   display: flex;
   justify-content: center;
}
.card{
    width: 90%;
    background: #FFE2A4;
    padding: 20px 0px;
    margin-left: 80px;
}
.card img{
    width: 60%;
    margin-left: 20%;
}
/* }
.card-1{
    background: #FFE2A4;
    padding: 20px 0px;
    margin-left: 40px;
}
.card{
    background: #FFE2A4;
    padding: 20px 0px;
    margin-left: 40px;
}
.card-2{
    background: #FFE2A4;
    padding: 20px 0px;
} */
.card-title h2{
    font-size: 25px;
    text-align: center;
    color: #4F3018;
    font-weight: 700;
}
.card-2 img{
    width: 100%;
    margin-top: -10%;
}

/* ---------------------
    Media Queries 
-----------------------*/

/* Mobile Device  */


@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .banner{
        width: 90%;
        flex-direction: column;
    }
    .menu-items{
        width: 90%;
        flex-direction: column;
    }
    .menu-2 img{
        margin-left: 10%;
    }
    .banner-image img{
        width: 100%;
    }
    .card-2 img{
        margin-left: 0%;
    }
    .card img{
        margin-left: 0%;
    }
    .offer-head{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0%;
    }

}

/* Tab Device  */

@media only screen and (min-width: 688px) and (max-width:1402px){
    .container{
        width: 100%;
    }
    .banner{
        width: 90%;
    }
    .banner-image img{
        width: 100%;
    }
    .menu-items{
        width: 90%;
    }
    .menu-2 img{
        margin-left: 15%;
    }
    .banner-image img{
        width: 100%;
    }
    .card-2 img{
        margin-left: 0%;
    }
    .card img{
        margin-left: 0%;
    }
}